.quiz-container {
  margin: 0 auto;
  padding: 4rem 1rem;
  text-align: center;
  font-family: "Arial", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.quiz-header {
  display: flex;
  justify-content: end;
  align-items: center;
}

.quiz-step {
  font-size: 1rem;
  color: #777;
}

.progress-circle {
  position: relative;
  width: 101px;
  height: 101px;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 300;
  color: #1c2635;
}

.quiz-question {
  font-weight: 500;
  color: #1c2635;
  font-size: 40px;
  margin: 0;
}

.quiz-options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
}

.quiz-option {
  padding: 0 40px 0 20px;
  border: 1px solid #5bc1ed;
  border-radius: 8px;
  background: white;
  color: #1c2635;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  transition: background 0.2s, color 0.2s;
  min-width: 189px;
  height: 44px;
  text-align: left;
}

.quiz-option.selected,
.quiz-option:hover {
  background-color: #5bc1ed;
  color: #000;
}

.quiz-footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.quiz-back {
  background: transparent;
  border: none;
  color: #677487;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
}

.quiz-next {
  background: #c3edff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 16px;
  color: #1c2635;
  min-width: 189px;
  height: 48px;
}

.quiz-next:hover {
  background: #7dd3fc;
}

.arrow {
  margin-left: 0.4rem;
}
